@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box; /*전체에 박스사이징*/
    outline: none; /*focus 했을때 테두리 나오게 */
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
    /* background-color: #f5f6f7; */
    line-height: 1.5em;
    color : #222;
    margin: 0;
    display: flex;
    /* background: url('./images/마크.jpg') center center; */
    /* background-color: rgba(255, 255, 255, 0.5); */
}

/* .background{
    display: flex;
    background: url('./images/마크.jpg') center center;
} */




.login{
    width: 400px;
    /* border: 1px solid #000; */
    margin: auto; /*중앙 정렬*/
    padding: 100px 20px;
    margin-bottom: 20px;
}

.login .logo{
    /*로고는 이미지라 인라인 블록이니까 마진 오토 안됨 블록요소만 됨 */
    display: block;
    margin :50px auto;
    height: 200px;
    
}

.login .field{
    margin :5px 0; /*상하로 좀 띄워주기*/
}

.login b {
    /* border: 1px solid #000; */
    display: block; /*수직 정렬하기 */
    margin-bottom: 5px;
}

.login input{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.login input[type=submit]{
    background-color: #C99358;
    color:#fff
}

.login input:focus{
    border: 1px solid #dadada;
}

.signup2 {
    
    margin-top: 10px;
    color: #0ABFBF;
    cursor:pointer;
    text-decoration: underline;
    font-weight: 600;
}

/* .background {
    background: url(./images/마크.jpg) center center;
    background-size: cover;
    background-attachment: fixed;
    height: 330px;
    opacity: 0.5;
} */